html,body{
  font-family: 'Open Sans', sans-serif;
}


#body{
  overflow: auto;
}

a{
  text-decoration: none;
  color: #000;
}

header{
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  pointer-events: none;
}

main{
  height: 100vh;
  background-color: #000;
}



#menu{
  display: none;
}

.nav{
  pointer-events: all;
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  transition: padding 0.5s ease;
  &__items{
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50vw;
    overflow: hidden;
    
    a,label{
      width: 41px;
      display: block;
      padding: 7px 12px 8px;
      text-align: center;
      font-weight: 700;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      color: #fff;


      cursor: pointer;
      
      position: relative;
      z-index: 2000;
      transition: 0.5s ease;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        z-index: -1;
        transition: 0.5s ease;
      }
    }
    label{
      text-align: right;
    }

    &:hover{
      
      a,label{
        color: #000;
        span{

          background: #000;
        }
        &::before{
        transform: translateX(0%);
        }

        transition: color 0.5s 0.5s ease, background 0.5s 0.5s ease;
      }
    }
  }
}

.logo{
  visibility: hidden;
  opacity: 0;
  pointer-events: all;
  &--visible{
    visibility: visible;
  }
}

.floatingImgs{
  img{
    position: absolute;
    transition: all 0.5s ease;
    pointer-events: none;
    &:nth-child(1){
      top: 20px;
      left: 20px;
      
      // left: 40px;
    }
    &:nth-child(2){
      top: 20px;
      right: 20px;
      // right: calc(100% - 104px);
    }
    &:nth-child(3){
      bottom: 20px;
      // bottom: calc(100% - 55px);
      // left: 153px;
      left: 20px;
    }
  }
}
.adjustedImgs{
  img{
    &:nth-child(1){
      top: 20px;
      
      left: 40px;
      
    }
    &:nth-child(2){
      top: 20px;
      
      right: calc(100% - 104px);
      
    }
    &:nth-child(3){
      
      bottom: calc(100% - 55px);
      left: 111px;
      
      
    }
  }
}

.afterScrollPadding{
  padding: 20px 40px;
}

/**
 * 
 * Drawer
 * 
 */

.drawer{
  position: fixed;
  top: 0;
  left: 0;
  background: #101012;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  
}

.drawerNav{
  padding: 100px 70px;
  max-width: 770px;
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__items{
    a{
      font-size: 70px;
      color: #fff;
      line-height: 80px;
      transition: color 0.5s ease;
      &:hover{
        color: #007aff;
      }
      &::after{
        content:"/";
        margin-left:20px;
        margin-right:20px;
      }
    }
  }
}

.links{
  display: flex;
  justify-content: space-between;
  width: 500px;
  position: absolute;
  right:-200px;
  top: 50%;
  transform-origin: center center;
  transform: translateY(-50%) rotate(-90deg);

  &__sns{
    
    a{
      color: #fff;
      margin-right: 10px;
      &::after{
        content: "·";
        margin-left: 10px;
      }

      &:nth-last-child(1){
        &::after{
          content: "";
          margin-left: 0px;
        }
      }
    }
  }
}

.openDrawer{
  transform: translateX(0%);
}

.active{
  a{

    color: #007aff;
  }
}

.menuIcon{
  height: 13px;
  &__container{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    span{
      display: block;
      width: 18px;
      height: 1px;
      border-radius: 50vw;
      background: #fff;
      transition: all 0.5s ease;
    }
  }
}

.close{
  
    span{
      &:nth-child(1){
        transform: rotate(45deg);
        height: 2px;
        opacity: 0;
      }
      &:nth-child(2){
        height: 2px;
        transform: rotate(-45deg);
        
      }
      &:nth-child(3){
        height: 2px;
        transform: translateY(-5px) rotate(45deg);
        
      }
    }
  
}

@media screen and (max-width: 768px) {

.afterScrollPadding{
  padding: 20px 20px;
}

.adjustedImgs{
  img{
    &:nth-child(1){
      top: 20px;
      
      left: 20px;
      
    }
    &:nth-child(2){
      top: 20px;
      
      right: calc(100% - 84px);
      
    }
    &:nth-child(3){
      
      bottom: calc(100% - 55px);
      left: 91px;
      
      
    }
  }
}
.drawerNav{
  padding: 100px 20px;
  &__list{
    flex-direction: column;
  }
  &__items{
    a{
      font-size: 45px;
      line-height: 63px;
      &::after{
        content:"";
        
      }
    }
  }
}

.links{
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  width: auto;
  position: absolute;
  // right:0px;
  left: 0px;
  padding: 40px 20px;
  top: 100%;
  transform-origin: center center;
  transform: translateY(-100%);
  height: 80px;
  &__sns{
    
    a{
      color: #fff;
      margin-right: 10px;
      &::after{
        content: "·";
        margin-left: 10px;
      }

      &:nth-last-child(1){
        &::after{
          content: "";
          margin-left: 0px;
        }
      }
    }
  }
}
}